<div
  class="flex items-center justify-center min-h-screen bg-gradient-to-br from-gray-900 to-purple-900 text-gray-300"
>
  <div
    class="flex-col bg-gray-800 bg-opacity-75 backdrop-blur-md p-8 rounded-lg shadow-lg border border-gray-700 w-80"
  >
    <!-- Display -->
    <div>
      <div class="mb-2 pb-2">
        <h1 class="text-xl font-light text-slate-500">Calculator</h1>
        <h2 class="text-xs font-thin text-slate-600 font-serif">
          powered by <span class="text-sm font-light font-sans">Angular</span>
        </h2>
      </div>
      <input
        type="text"
        [value]="display"
        readonly
        class="w-full px-4 py-2 rounded-md bg-slate-700 text-gray-300 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <!-- Clear/Clear-All Buttons -->
    <div class="grid grid-cols-4 gap-2 mt-4 text-xs mb-0 pb-0">
      <!-- Current Operation Display -->
      <div
        [ngClass]="{ blink: blinkDisplay }"
        class="mt-1 text-gray-300 flex justify-center items-center gap-3 col-span-2"
      >
        <span class="text-xs font-thin text-slate-600 font-serif"> {{ calcStatus }}</span>
      </div>
      <button
        class="h-6 bg-slate-900 hover:bg-pink-800 text-white rounded shadow-sm active:translate-y-[1px]"
        (click)="clearAll()"
      >
        CA
      </button>
      <button
        class="h-6 bg-slate-900 hover:bg-pink-800 text-white rounded shadow-sm active:translate-y-[1px]"
        (click)="backspace()"
      >
        C
      </button>
    </div>

    <!-- Main Grid -->
    <div class="grid grid-cols-4 gap-2 mt-2">
      <!-- Row 1: 1, 2, 3, ÷ -->
      <button
        *ngFor="let num of ['1', '2', '3']"
        (click)="appendToDisplay(num)"
        class="py-3 bg-pink-900 text-gray-100 rounded-md font-semibold hover:bg-pink-800 focus:ring-2 focus:ring-pink-500"
      >
        {{ num }}
      </button>
      <button
        (click)="setOperation('/')"
        class="py-3 bg-slate-900 text-gray-100 rounded-md font-semibold hover:bg-pink-900 focus:ring-2 focus:ring-pink-500"
      >
        ÷
      </button>

      <!-- Row 2: 4, 5, 6, × -->
      <button
        *ngFor="let num of ['4', '5', '6']"
        (click)="appendToDisplay(num)"
        class="py-3 bg-pink-900 text-gray-100 rounded-md font-semibold hover:bg-pink-800 focus:ring-2 focus:ring-pink-500"
      >
        {{ num }}
      </button>
      <button
        (click)="setOperation('*')"
        class="py-3 bg-slate-900 text-gray-100 rounded-md font-semibold hover:bg-pink-900 focus:ring-2 focus:ring-pink-500"
      >
        ×
      </button>

      <!-- Row 3: 7, 8, 9, - -->
      <button
        *ngFor="let num of ['7', '8', '9']"
        (click)="appendToDisplay(num)"
        class="py-3 bg-pink-900 text-gray-100 rounded-md font-semibold hover:bg-pink-800 focus:ring-2 focus:ring-pink-500"
      >
        {{ num }}
      </button>
      <button
        (click)="setOperation('-')"
        class="py-3 bg-slate-900 text-gray-100 rounded-md font-semibold hover:bg-pink-900 focus:ring-2 focus:ring-pink-500"
      >
        -
      </button>

      <!-- Row 4: CA, 0, =, + -->
      <button
        (click)="addDecimal()"
        class="py-3 bg-pink-900 text-gray-100 rounded-md font-semibold hover:bg-pink-800 focus:ring-2 focus:ring-pink-500"
      >
        .
      </button>
      <button
        (click)="appendToDisplay('0')"
        class="py-3 bg-pink-900 text-gray-100 rounded-md font-semibold hover:bg-pink-800 focus:ring-2 focus:ring-pink-500"
      >
        0
      </button>
      <button
        (click)="submitEquals()"
        class="py-3 bg-pink-900 text-gray-100 rounded-md font-semibold hover:bg-pink-800 focus:ring-2 focus:ring-pink-500"
      >
        =
      </button>
      <button
        (click)="setOperation('+')"
        class="py-3 bg-slate-900 text-gray-100 rounded-md font-semibold hover:bg-pink-900 focus:ring-2 focus:ring-pink-500"
      >
        +
      </button>
    </div>
  </div>
</div>
